# Hugo default build output
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# Hugo executable
hugo.exe
hugo.darwin
hugo.linux

# Temporary lock file while building
.hugo_build.lock

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*~

# Node (if you add npm packages later)
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# Logs
*.log